body {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding: 0;
}

@keyframes fadeOut {
    0% {opacity: 1;}
    50%{opacity: 1;}
    100%{opacity: 0;}
}

#heroText {
    opacity: 0;
    color: black;
    position: absolute;
    z-index: 1;
    top: 80px;
    animation-name: fadeOut;
    animation-duration: 3.5s;
}

h1, h2 {
    color: #FF4698;
}

#name {
    animation-name: fadeInAnimation;
    animation-duration: 6s;
}

/*Poistion relative so we can use poistion absolute for colorBlock*/
#imageContainer {
    display: flex;
    flex: 1;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

@keyframes fadeInAnimation {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

picture {
    max-width: 100%;
    position: relative;
    flex: 1;
    opacity: 1;
    animation-name: fadeInAnimation;
    animation-duration: 6s;
}

#largePP, #smallPP, #mediumPP{
    width: 100%;
    height: auto;
    max-height: 100%;
    flex: 1;
    justify-self: center;
    border-radius: 5px;
    background-color: white;
}


#basicInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    flex: 1;
    position: relative;
    animation-name: fadeInAnimation;
    animation-duration: 9s;
}

/*Styling for the profile picture*/
#profilePic {
    width: 100%;
    height: auto;
    border-radius: 5px;
    object-fit: cover;
    z-index: 0;
    position: relative;
    min-width: 20%;
    max-width: 50%;
    margin: 20px;
}

/*Animation for color block on refresh of the page*/
@keyframes colorBlock {
    0% {width: 100%; height: 0%;}
    25% {width: 100%; height: 100%;}
    50% {width: 0%; height: 100%;}
    75% {width: 100%; height: 100%;}
    100% {width: 100%; height: 50%;}
}

@keyframes gradientMove {
    0% {background-position: left;}
    50% {background-position: right;}
}

/*Styling for the color block*/
#ColorBlock {
    background-image: linear-gradient(to right,#FF4698, #ff9970);
    background-size: 1000%;
    background-position: left;
    position: absolute;
    height: 50%;
    width: 100%;
    border-radius: 5px;
    animation-name: colorBlock, gradientMove;
    animation-duration: 3s, 40s;
    animation-delay: 0s, 6s;
    animation-iteration-count: 1, infinite;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1), ease;
    flex: 1;
}

/*Basic styling for the nameAndDetails section*/
#nameAndDetails {
    margin: 20px;
    position: relative;
    top: 150px;
    flex: 2;
    text-align: center;
}

/*Styling for lists in general*/
ul {
    list-style-type: none;
    padding-left: 0;
    padding-right: 25px;
    font-weight: bold;
}

/*Styling for the header section to be displayed on the left*/
header {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-self: flex-start;
    position: relative;
    height: 100%;
    width: 100%; 
}

h2 {
    margin: 0;
}

/*Main content styling with different sections (Education, experience, etc)*/
#mainContainer {
    flex: 1;
    margin: 5px;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    width: 100%;
    animation-name: fadeInAnimation;
    animation-duration: 9s;
}

#Education, #Experience {
    margin-bottom: 50px;
}

#educationSubContainer, #experienceSubContainer{
    display: flex;
}

.qualificationName, .experienceName {
    flex: 1;
}

.qualificationDescription, .experienceDescription {
    flex: 2;
}

#Skills, #Hobbies {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

/*Styling for icons*/
.icon {
    height: 20px;
    width: 20px;
    filter: invert(39%) sepia(100%) saturate(1253%) hue-rotate(307deg) brightness(98%) contrast(106%);
}

/*Keyframes for icon when hovering over it*/
@keyframes iconAnimation {
    8.3%{transform: rotate(-15deg) scale(120%);}
    16.6%{transform: rotate(0deg) scale(110%); }
    24.9%{transform: rotate(15deg) scale(120%);} 
    33.26%{transform: rotate(0deg) scale(110%); }
    41.6%{transform: rotate(-15deg) scale(120%); }
    50%{transform: rotate(0deg) scale(110%); }
    58.3%{transform: rotate(15deg) scale(120%); }
    66.6%{transform: rotate(0deg) scale(110%); }
    74.9%{transform: rotate(-15deg) scale(120%); }
    83.2%{transform: rotate(0deg) scale(110%); }
    91.5%{transform: rotate(15deg) scale(120%); }
    100%{transform: rotate(0deg) scale(110%); }
}

/*Animation for on hover of icons*/
.icon:hover {
    animation-name: iconAnimation;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
    animation-iteration-count: infinite;
}

li {
    margin: 0 0 10px 0;
}

footer {
    background-image: linear-gradient(to right,#FF4698, #ff9970);
    background-size: 10000%;
    background-position: left;
    padding: 10px;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: gradientMove;
    animation-delay: 6s;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

form {
    width: 400px;
}

label {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#buttonContainer {
    display: flex;
    justify-content: flex-end;
}

#Submit {
    font-family: 'Courier New', Courier, monospace;
}

